<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnlineMart_Ndase.db" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OnlineMart_Ndase.db>
            <setting name="DbServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>oma</value>
            </setting>
            <setting name="DbUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value />
            </setting>
        </OnlineMart_Ndase.db>
    </userSettings>
</configuration>